# "Prelecture" HW

*link to chat log histories:* https://chatgpt.com/share/c848195d-5099-4f17-be73-50b1b2920bcd

## 0.1
TUT notebook has links to example ChatBot sessions and I choose one of the dataset. The URL is "https://data.cityofnewyork.us/resource/vfnx-vebw.csv"

## 0.2
I start a new ChatBot session asking chatGPT to provide the code to print out the number of rows and columns of the dataset and the chat history is as followed:

### Chat History:

#### YOU:
Hi chat, I've downloaded a dataset from https://data.cityofnewyork.us/resource/vfnx-vebw.csv, and I'd like to know what is the number of rows of the dataset and what is the number of columns of the dataset  and the size of the dataset

#### ChatGPT:
It seems like I can’t do more advanced data analysis right now. Please try again later. You can use the following steps to check the number of rows, columns, and the size of your dataset using pandas on your local environment:
1. Import pandas and load the dataset:

In [ ]:
import pandas as pd
dataset = pd.read_csv('path_to_your_downloaded_file.csv')

2. To check the number of rows and columns:

In [ ]:
num_rows, num_columns = dataset.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

3. To check the size of the dataset in memory:

In [ ]:
dataset_size = dataset.memory_usage(deep=True).sum()
print(f"Dataset size: {dataset_size} bytes")

This will give you the information you're looking for!

#### YOU:
Can you explain meaning of "observations" and "variables" in the context of your dataset

#### ChatGPT:
In the context of a dataset, "observations" and "variables" refer to fundamental concepts used to describe its structure:

**Observations:**
- Definition: An observation typically refers to a single data entry or row in a dataset. It is a collection of values or data points that represent a single instance of the entity being studied or measured.
- Example: In a dataset of New York City building permits, each observation might be a record of a single permit. It could contain details like the permit number, issue date, applicant, and location.

**Variables:**
- Definition: A variable is a column in the dataset, representing a particular attribute or characteristic measured across all observations. Each variable captures the same type of data for every observation in the dataset.
- Example: In the building permits dataset, variables could include "Permit Number," "Applicant Name," "Issue Date," and "Building Type."

**Relationship:**
- A variable defines the type of data that is being collected (e.g., permit number, date, cost), while an observation is an instance of that data (e.g., a single permit with specific values for each variable).
- In terms of data structure, observations = rows and variables = columns.

For instance, if your dataset has 1,000 rows and 10 columns, it means you have 1,000 observations and 10 variables.

### My own general definitions
#### observations:
Envisioning a dataset as a spreadsheet, the observations are the rows. Each observation is characterized by a set of variables that describe the properties of that particular entity or event. An observation can also be a collection of all information about a particular object in a data set.
#### variable:
A variable is a column in a data set. It represents a common feature or a properties that the data set contains. Also datas under each variable should be of the same type.

### My thoughts of code

In [3]:
import pandas as pd
dataset = pd.read_csv('https://data.cityofnewyork.us/resource/vfnx-vebw.csv')
num_rows, num_columns = dataset.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
print (dataset.shape)

Number of rows: 1000
Number of columns: 31
(1000, 31)

## 0.3
### Chat History:
#### YOU:
How can I provide simple summaries of the columns in the dataset? Can you use code to provide these summaries for this dataset? Can you create working examples of using `df.describe()` and `df['column'].value_counts()` for this dataset?

#### ChatGPT:
Certainly! Here are two examples to demonstrate how to use `df.describe()` and `df['column'].value_counts()` with your dataset.

**Example 1: Using `df.describe()`**
This provides a summary of the statistics for numerical columns, and can also provide some summary info for categorical columns.

In [ ]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('path_to_your_downloaded_file.csv')

# Get a summary of the numerical and categorical columns
summary = dataset.describe(include='all')

# Display the summary
print("Summary of Columns:")
print(summary)

- `df.describe(include='all')` gives you information such as count, unique values, mean, standard deviation (for numerical columns), and other details like top occurring values for categorical columns.
**Example 2: Using `df['column'].value_counts()`**
This counts the unique values in a specific categorical column. You need to specify which column you want to analyze.

In [ ]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('path_to_your_downloaded_file.csv')

# Example of using value_counts() on a specific column
# Replace 'your_column_name' with the actual column name you want to explore
value_counts = dataset['your_column_name'].value_counts()

# Display the unique value counts for the column
print(f"Value counts for 'your_column_name':")
print(value_counts)

- `df['your_column_name'].value_counts()` will give you a count of each unique value in the specified column.
- Replace `'your_column_name'` with the actual column name you are interested in analyzing, such as "Building Type" or "Permit Number" depending on your dataset.
These are working examples for summarizing data and analyzing column values.

### My thoughts of code

In [6]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('https://data.cityofnewyork.us/resource/vfnx-vebw.csv')

# Get a summary of the numerical and categorical columns
summary = dataset.describe()

# Display the summary
print("Summary of Columns:")
print(summary)

Summary of Columns:
                 x            y          date  hectare_squirrel_number
count  1000.000000  1000.000000  1.000000e+03              1000.000000
mean    -73.967020    40.781087  1.011853e+07                 4.170000
std       0.007698     0.010139  4.267014e+04                 3.151989
min     -73.980961    40.765008  1.006202e+07                 1.000000
25%     -73.972957    40.772389  1.007202e+07                 2.000000
50%     -73.968374    40.778225  1.012202e+07                 3.000000
75%     -73.959765    40.791285  1.014202e+07                 6.000000
max     -73.949722    40.800046  1.020202e+07                23.000000

## 0.4
If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, than the numbers of rows and columns will be shown differently by using `df.shape` and `df.describe()`. The output of `df.shape` will not be influenced by those two situations, but the output of `df.describe()` will be influenced. When `df.describe()` is counting the rows, it will not count the missing values. The "count" represents the number of non-missing values in each column. Also `df.describe()` will only include "numeric" columns.

## 0.5
### YOU:
Can you help me understand the difference between the following ? 
1.an "attribute", such as df.shape which does not end with ()
2.and a "method", such as df.describe() which does end with ()

### ChatGPT:
Certainly! Let's break down the difference between an "attribute" and a "method" in the context of pandas DataFrames (and Python objects in general).

1. Attribute (like `df.shape`):
An attribute is a property or characteristic of an object. It does not require parentheses when accessed, because it is not something you "call" (execute); it is simply a value or description associated with the object.

- Attributes store information about the object.
- Accessing an attribute is like asking for information about the object, not doing any operation or computation.

Example: `df.shape`
- `df.shape` is an attribute of a DataFrame that tells you its dimensions.
- When you type `df.shape`, it returns a tuple with the number of rows and columns: `(number_of_rows, number_of_columns)`.
- No parentheses are used because it simply retrieves this information, and no further operation is needed.

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Access the shape attribute
print(df.shape)  # Output: (3, 2)

2. Method (like `df.describe()`):
A method is a function that is associated with an object. You need to use parentheses because calling a method often involves executing code or performing an action.

- Methods can perform actions like computations, transformations, or operations on the data within the object.
- A method might return a value or modify the object itself.

Example: `df.describe()`
- `df.describe()` is a method that generates summary statistics of the DataFrame's columns.
- It requires parentheses because it needs to be called (executed), and it performs an operation to calculate the summary statistics.

In [ ]:
# Call the describe() method
print(df.describe())

This will output summary statistics such as the mean, standard deviation, min, max, etc.

Summary of Differences:
- Attribute (`df.shape`): Provides a characteristic of the DataFrame (e.g., its dimensions). It does not require parentheses because it’s not performing any computation.
- Method (`df.describe()`): Performs an action or operation (e.g., computing summary statistics). It requires parentheses because it needs to be executed.

In essence:

- Attributes are data that belong to the object.
- Methods are functions that perform actions on the object.

## My thoughts
Attributes store the data of an object. Methods define behavior (functions) that operate on an object or its data. 
Because attribute is not the function, it is the property or characteristic of an object so we don't need the brackets when we use it. Attribute doesn't need further operation. A method is a function that is associated with an object. When we use the method, we need brackets because we need further operation. In a word, attribute is property so it doesn't need brackets to do the further operations, method is function it need brackets to do the further operations.

# "Postlecture" HW

*links to chat log histories:* 
- https://chatgpt.com/share/8d625f1f-0ffb-4457-853e-7762707df11f
- https://chatgpt.com/share/40581761-25a2-4c86-965d-adf384ce3fce
- https://chatgpt.com/share/ee4262f5-4780-4e30-b57a-6d0adda0d75b
- https://chatgpt.com/share/676e0186-4032-45d2-ab1b-0945982354ea

## 0.6
**'count':** number of non-missing values in each column

**'mean':** the average of all non-missing values in each column

**'std':** the standard deviation, which measures how spread out the values are from the mean

**'min':** the smallest value in each column

**'25%':** the first quartile (Q1). It represents the value below which 25% of the data set

**'50%':** the median, which is the middle value and divides the data into two equal halves

**'75%':** the third quartile (Q3). It represents the value below which 75% of the data set

**'max':** the largest value in each column

## 0.7
### 0.7.1
*Provide an example of a "use case" in which using `df.dropna()` might be peferred over using `del df['col']`*

In [4]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 4], 'B': [4, np.nan, 6, 8], 'C': [5, 9, 2, 11]}
df = pd.DataFrame(data)
print(df)
print(df.dropna())
columns_list = df.columns.tolist()
for the_col in columns_list:
    if df[the_col].isna().sum() > 0:
        del df[the_col]
print(df)

     A    B   C
0  1.0  4.0   5
1  2.0  NaN   9
2  NaN  6.0   2
3  4.0  8.0  11
     A    B   C
0  1.0  4.0   5
3  4.0  8.0  11
    C
0   5
1   9
2   2
3  11

The first output dataset is the original dataset, the second dataset is the output dataset of `df.dropna()` and the last one is the output dataset of `del df['col']`. We can see that in this example, there are many important information being deleted by `del df['col']`.

### 0.7.2
*Provide an example of "the opposite use case" in which using `del df['col']` might be preferred over using `df.dropna()`*

In [5]:
import pandas as pd
import numpy as np
data = {'Customer_ID': [1, 2, 3, 4, 5], 
        'Age': [np.nan, 30, np.nan, 40, np.nan], 
        'Rating': [np.nan, np.nan, 3, np.nan, np.nan], 
        'Comments': ['Good', 'Average', 'Poor', 'Excellent', 'Excellent'],
        'Satisfaction_Score': [9, 7, 6, 8, 5]}
df = pd.DataFrame(data)
print(df)
print(df.dropna())
columns_list = df.columns.tolist()
for the_col in columns_list:
    if df[the_col].isna().sum() > 0:
        del df[the_col]
print(df)

   Customer_ID   Age  Rating   Comments  Satisfaction_Score
0            1   NaN     NaN       Good                   9
1            2  30.0     NaN    Average                   7
2            3   NaN     3.0       Poor                   6
3            4  40.0     NaN  Excellent                   8
4            5   NaN     NaN  Excellent                   5
Empty DataFrame
Columns: [Customer_ID, Age, Rating, Comments, Satisfaction_Score]
Index: []
   Customer_ID   Comments  Satisfaction_Score
0            1       Good                   9
1            2    Average                   7
2            3       Poor                   6
3            4  Excellent                   8
4            5  Excellent                   5

The first output dataset is the original dataset, the second dataset is the output dataset of `df.dropna()` and the last one is the output dataset of `del df['col']`. We can see that in this example, there is nothing left after using `df.dropna()`.

### 0.7.3
*Q:Discuss why applying `del df['col']` before `df.dropna()` when both are used together could be important*

A: 
Let dataset that be 10 rows x 10 cols. Assume there is 8 missing values in col 5 from row 3 to row 10, a missing value in row 1 of col 1, a missing value in row 2 of col2. Now we must apply `del df['col']` before `df.dropna()`. Because if we use `df.dropna()` first then the dataset will become a 2 rows x 10 cols dataset. And there will be nothing left. So it is very important to use `del df['col']` first if there is many missing values in the same column. 

### 0.7.4
*Remove all missing data from one of the datasets you're considering using some combination of `del df['col']` and/or `df.dropna()` and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.*

In [6]:
import pandas as pd
import numpy as np

# Complex DataFrame with various missing values
data = {
    'Salesperson': ['John', 'Jane', 'Alice', 'Mike', 'Sara', 'Tom', np.nan, 'Paul'],
    'Region': ['North', 'South', np.nan, np.nan, np.nan, np.nan, np.nan, 'North'],
    'Sales': [20000, 25000, np.nan, 15000, 30000, 23000, 17000, np.nan],
    'Target': [22000, 27000, 25000, 18000, 29000, 24000, 20000, 21000],
    'Commission (%)': [5, np.nan, 7, 5, np.nan, 6, 5, 7],
    'Customer_Rating': [np.nan, 3.7, np.nan, 4.0, np.nan, 4.2, np.nan, 4.1],
    'Year': [2021, 2021, 2021, 2021, 2022, 2022, np.nan, 2022]
}

df_complex = pd.DataFrame(data)
print("Before cleaning:")
print(df_complex)

columns_list = df_complex.columns.tolist()
for the_col in columns_list:
    if df_complex[the_col].isna().sum() / len(df_complex) > 0.4:
        del df_complex[the_col]

print("\nAfter cleaning")
print(df_complex.dropna())

Before cleaning:
  Salesperson Region    Sales  Target  Commission (%)  Customer_Rating    Year
0        John  North  20000.0   22000             5.0              NaN  2021.0
1        Jane  South  25000.0   27000             NaN              3.7  2021.0
2       Alice    NaN      NaN   25000             7.0              NaN  2021.0
3        Mike    NaN  15000.0   18000             5.0              4.0  2021.0
4        Sara    NaN  30000.0   29000             NaN              NaN  2022.0
5         Tom    NaN  23000.0   24000             6.0              4.2  2022.0
6         NaN    NaN  17000.0   20000             5.0              NaN     NaN
7        Paul  North      NaN   21000             7.0              4.1  2022.0

After cleaning
  Salesperson    Sales  Target  Commission (%)    Year
0        John  20000.0   22000             5.0  2021.0
3        Mike  15000.0   18000             5.0  2021.0
5         Tom  23000.0   24000             6.0  2022.0

By asking ChatGPT I learned that if there are up to 40% missing data it could bias any analysis. So we first check if there is a column that has more than 40% missing values, and use the `del df['col']` to delete that column. After that I use the `df.dropna()` to clean rows that have missing values.

## 0.8
### 0.8.1

#### example from ChatGPT:

In [29]:
import pandas as pd

df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
df_titanic.groupby("sex")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

#### different example:

In [33]:
import pandas as pd

df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
df_titanic.groupby("alive")["age"].describe()

       count       mean        std   min   25%   50%   75%   max
alive
no     424.0  30.626179  14.172110  1.00  21.0  28.0  39.0  74.0
yes    290.0  28.343690  14.950952  0.42  19.0  28.0  36.0  80.0

In this code `df_titanic.groupby("alive")["age"].describe()`. The first part is `df_titanic.groupby("alive")` which means I classify this dataset according to the variable column "alive". And the second part is `["age"].describe()` which means I select the "age" column and calculates various summary statistics (like count, mean, std deviation, min, 25th percentile, 50th percentile, 75th percentile, and max) for each group in column "alive" based on the values of column "age".

### 0.8.2
When I use the `df.describe()`, it gives the overall count of non-missing values for each column in the entire DataFrame. Each column is independent.
However, when I use `df.groupby("col1")["col2"].describe()` it gives the count of non-missing values in col2 within each group of col1. Because of that, it need to first count how many available values are in each group of col1 and then count how many available values are in that group. 
As a result, the "count"s captured by `df.describe()` are something fundamentally different from `df.groupby("col1")["col2"].describe()`.

### 0.8.3

**0.8.3.(1)**

`#import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')`

`df_titanic.groupby("alive")["age"].describe()`

It output the error: `NameError: name 'pd' is not defined`

When I entered the error into ChatGPT, it directly tell me how to fix it. I think it is easier to use ChatGPT than Google.

**0.8.3.(2)**

`import pandas as pd`

`df_titanic = pd.read_csv('titanics.csv')`
`df_titanic.groupby("alive")["age"].describe()`

It output the error: `FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'`

When I entered the error into ChatGPT, it directly tell me how to fix it. I think it is easier to use ChatGPT than Google.

It said that error means that Python cannot find the 'titanics.csv' file in the current working directory. To resolve this, make sure that the file exists in the right location, or use the full path to the file like this: `df_titanic = pd.read_csv('/path/to/your/titanics.csv')`

Also when introducing typos into a couple other parts of the url and slightly different errors will be produced. It output that : `URLError: <urlopen error [Errno 11001] getaddrinfo failed>`

**0.8.3.(3)**

`import pandas as pd`

`df_titanic = pd.read_csv('titanics.csv')`   `DF_titanic.groupby("alive")["age"].describe()`

It output the error: `NameError: name 'DF_titanic' is not defined`

To fix this, ChatGPT said: change `DF_titanic` to `df_titanic` in the second line. It is more easier than Google.

**0.8.3.(4)**

`import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'`
`df_titanic.groupby("sex")["age"].describe()`

It output the error: `SyntaxError: unexpected EOF while parsing`

To fix that, just add a bracket at the end of the second code.

**0.8.3.(5)**

`import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')`
`df_titanic.group_by("sex")["age"].describe()`

It output the error: `AttributeError: 'DataFrame' object has no attribute 'group_by'`

This happens because pandas has the `groupby()` method, not `group_by()`.

`import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')`
`df_titanic.groupby("sex")["age"].describle()`

It output the error: `AttributeError: 'SeriesGroupBy' object has no attribute 'describle'`

This happens because `describle()` is a typo, and the correct method name is `describe()`.

**0.8.3.(6)**

`import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')`
`df_titanic.groupby("Sex")["age"].describe()`

It output the error: `KeyError: 'Sex'`

This occurs because pandas is case-sensitive, and `"Sex"` does not match the actual column name `"sex"`.

**0.8.3.(7)**

`import pandas as pd`

`df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')`
`df_titanic.groupby(sex)["age"].describe()`

It output the error: `NameError: name 'sex' is not defined`

This is because sex is interpreted as a variable rather than a string representing the column name.

**Summary**
In my point of view, by entering the wrong code, the ChatGpt can immediately find the error types and fix them. It is showing the error and the way to fix it by showing the real example. But using the google search can show me the detail of the error, so I think I can handle it in the future.

## 0.9
Mostly